<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55955607944-bhqbaj19qlh20hhppa9fm6ngu34o09cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55955607944-bhqbaj19qlh20hhppa9fm6ngu34o09cp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55955607944-oj0pjs66utbm8dout1r6od94defr2rnh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHlCrkQgAjeuOd3KH6fWhaE4ucRB6fWdA</string>
	<key>GCM_SENDER_ID</key>
	<string>55955607944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lastMileV2</string>
	<key>PROJECT_ID</key>
	<string>last-mile-5aaf4</string>
	<key>STORAGE_BUCKET</key>
	<string>last-mile-5aaf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55955607944:ios:08dcff14a46c0f24fb2a3d</string>
	<key>DATABASE_URL</key>
	<string>https://last-mile-5aaf4-default-rtdb.firebaseio.com</string>
</dict>
</plist>